extends layout

block content
    nav.navbar.navbar-light.bg-light
        .container
           button#card.btn.btn-primary Cart
              
    
    .glide.products
        .glide__track(data-glide-el="track")
            ul.glide__slides
                each item in items
                    li.glide__slide
                        .card.product-item
                            img.card-img-top(src=`${item.image}` alt='')
                            .card-body
                                h5.card-title= item.name
                                p.card-text
                                | Price: #{item.price}
                                div
                                    button(data-id=`${item.id}`).btn.btn-primary Add to cart
        .glide__bullets(data-glide-el="controls[nav]")
            - var count = 0
            each item in items
                .glide__bullet(data-glide-dir=`=${count}`)
            -count++    
                                              
                                              